# The ID of your deployed agent
NEXT_PUBLIC_21ST_AGENT_ID=your-agent-id

# Clerk
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/

# Clerk Keys
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key_here
CLERK_SECRET_KEY=your_clerk_secret_key_here

# Google Auth
NEXT_PUBLIC_GOOGLE_CLIENT_ID=

# API Endpoints
# For Local Development:
NEXT_PUBLIC_API_URL=http://localhost:8000
# For Production:
# NEXT_PUBLIC_API_URL=https://brollysolutions.in/prompt_generator
