# GROQ_API_KEY=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
GROQ_API_KEY=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
JWT_SECRET=y_super_secret_jwt_key_12345
GOOGLE_CLIENT_ID=224871464341-d90im178vlqfciq3juio5bt00argg1hr.apps.googleusercontent.com
GEMINI_API_KEY=AQ.Ab8RN6K76Gjvz_xmhVn_PjZ7vTKMQxoh0X9iVHYCt8xxeqIzuQ
PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python

# Paste your 7 Groq API keys below:
GROQ_API_KEY_1=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
GROQ_API_KEY_2=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
GROQ_API_KEY_3=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
GROQ_API_KEY_4=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
GROQ_API_KEY_5=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
GROQ_API_KEY_6=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
GROQ_API_KEY_7=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

# Paste your 4 Gemini API keys below for load balancing:
GEMINI_API_KEY_1=AQ.Ab8RN6KpjwC4qostLEGjq6zycz3s74GMIBG2L9yCs6v7CA8sHA
GEMINI_API_KEY_2=AQ.Ab8RN6Ivj9hYk9lcgq7mrs0p-l6CNOlWqD_E15kOwHX2hBiZvw
GEMINI_API_KEY_3=AQ.Ab8RN6KAlzivtMA2JYEqCpegBT_un75YnW3K3KWGsA1Gw8l7HA
GEMINI_API_KEY_4=AQ.Ab8RN6L7e0QCCEDaMixRgC0HLSl7jpHzwvOaWDcNH0SFbR1tNQ
GEMINI_API_KEY_5=AQ.Ab8RN6J5yoLLeff0g56vSgMTjeP2ndt8Iv8jDNyrY2y8tnCGAw
GEMINI_API_KEY_6=AQ.Ab8RN6KkiyKTMyhSVwT7c-QFW3lnAesCGtqhfXT0dYa20ntMsQ
GEMINI_API_KEY_7=AQ.Ab8RN6JdkSJDZvqpXm_Wp7y2K8ihEeohQdjAlCVcDbzfksJBIQ
GEMINI_API_KEY_8=AQ.Ab8RN6KHUASilAbWIPJpcbNmKcxopsN0iG8eaDAbusr57Jsk_w
GEMINI_API_KEY_9=AQ.Ab8RN6I07donpIpC4W63pltkT1_Sq-dtlznyz-8H6iRTyh2Tnw
